<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mgalante/jquery.redirect@master/jquery.redirect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/public/style.css" rel="stylesheet">
    <link href="/public/concert.css" rel="stylesheet">
    <title>Concerts</title>
</head>

<body style="background-color:black;">
    <%- include('./partials/navbar'); %>
        <h1 class="h2 mb-3 fw-normal text-center" style="color:white;"><b>KBM</b> - Concerts</h1>
        <hr class="mb-5 mt-5 text-center" style="color:gray">
        <h2 class="h3 mb-4 fw-normal text-center" style="color:#00ffcb;">Upcoming concerts</h2>
        <div class="w3-black" id="tour">
            <div class="w3-container w3-content" style="max-width:800px">
                <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                    <% if(data.length){ for(var i=0; i< data.length; i++){ if(i==3){ %>
                </div>
                <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                    <% } %>
                        <if <div class="w3-third w3-margin-bottom">
                            <img src=<%=data[i].conPoster %> alt=data[i].conName style="width:100%"
                            class="w3-hover-opacity">
                            <div class="w3-container w3-white">
                                <h3><b>
                                        <%= data[i].conName %>
                                    </b></h3>
                                <p><b>Artist: </b>
                                    <%= data[i].artistName %>
                                </p>
                                <p><b>Date: </b>
                                    <%= moment(data[i].conDate).format("DD MMMM YYYY"); %>
                                </p>
                                <p><b>Time: </b>
                                    <%= data[i].conTime.startTime%> - <%= data[i].conTime.endTime %>
                                </p>
                                <p>
                                    <%= data[i].conName %>
                                </p>
                                <button class="w3-button w3-green w3-margin-bottom"
                                    onclick="document.getElementById('edit<%= i %>').style.display='block'">Edit</button>
                                <button class="w3-button w3-red w3-margin-bottom w3-right"
                                    onclick="document.getElementById('delete<%= i %>').style.display='block'">Remove</button>
                            </div>
                </div>
                <% } }else{ %>
                    <tr>
                        <h5 class="w3-wide w3-center">No concert available at this time.</h5>
                    </tr>
                    <% } %>
            </div>
        </div>
        <% if(data.length){ for(var i=0; i< data.length; i++){ %>
            <!-- Edit Modal -->
            <div id='edit<%= i %>' class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                    <span onclick="document.getElementById('edit<%= i %>').style.display='none'"
                        class="w3-button w3-white w3-xlarge w3-display-topright">×</span>
                    <div class="w3-container w3-white w3-center w3-padding-32" style="color:black">
                        <h2 class="w3-wide mb-4"></i>Edit '<%= data[i].conName %>'</h2>
                        <form id="edit-form" action="/api/insertConcert">
                            <input type="text" id="conID" style="display:none" value='<%= data[i]._id %>' required>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal ">Concert name<i style="color:red">* </i> : </label>
                                <input type="text" id="conEditName" placeholder="Concert name"
                                    value='<%= data[i].conName %>' required>
                            </div>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal ">Artist name<i style="color:red">*</i> : </label>
                                <input type="text" id="artistName" placeholder="Artist name"
                                    value='<%= data[i].artistName %>' required>
                            </div>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal">Concert date<i style="color:red">*</i> : </label>
                                <input type="date" id="conEditDate" placeholder="dd-mm-yyyy" required>
                            </div>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal">Concert start time<i style="color:red">*</i> : </label>
                                <input type="time" id="conStartTime" placeholder="Concert start date" required>
                            </div>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal">Concert end time<i style="color:red">*</i> : </label>
                                <input type="time" id="conEndTime" placeholder="Concert start date" required>
                            </div>
                            <div class="block">
                                <label class="h5 mt-4 mb-4 fw-normal">Concert description<i style="color:red">*</i> :
                                </label>
                                <textarea class='mb-4' id="conDescription" name="w3review" rows="2" cols="50"
                                    placeholder="Concert description"><%= data[i].conDescription %></textarea>
                            </div>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal">Concert poster image link (.png or .jpg)<i
                                        style="color:red">*</i>
                                    : </label>
                                <input type="text" id="conPoster" name="file" style="width:100%"
                                    placeholder="Concert poster image link" value='<%= data[i].conPoster %>' required>
                            </div>
                            <div class="w3-container">
                                <button class="w3-button w3-green w3-section w3-left w3-round-xxlarge"
                                    onclick="deleteConcert()">Submit</button>
                        </form>

                        <button class="w3-button w3-red w3-section w3-right w3-round-xlarge"
                            onclick="document.getElementById('edit').style.display='none'">Cancel</button>
                    </div>
                </div>
            </div>
            </div>
            <!-- Delete Modal -->
            <div id="delete<%= i %>" class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-white w3-center w3-padding-32">
                        <h3 class="w3-wide"></i>Are you sure you want to remove '<%= data[i].conName %>'</h3>
                        <form id="delete-form">
                            <input type="text" id="conID" style="display:none" value='<%= data[i]._id %>' required>
                            <div class="w3-container">
                                <button class="w3-button w3-green w3-section w3-left w3-round-xxlarge"
                                     type="submit">Yes</button>
                        </form>
                        <button class="w3-button w3-red w3-section w3-right w3-round-xlarge"
                            onclick="document.getElementById('delete<%= i %>').style.display='none'">No</button>
                </div>
                </header>
            </div>
            </div>
            <% } } %>
                <hr class="mb-5 mt-5 text-center" style="color:gray">
                <main class="form">

                    <h2 class="h3 mb-4 fw-normal text-center" style="color:#00ffcb;">Insert a new concert</h2>
                    <form id="concert-form" action="/api/insertConcert">
                        <div class="block">
                            <label class="h5 mb-4 fw-normal ">Concert name<i style="color:red">* </i> : </label>
                            <input type="text" id="conName" placeholder="Concert name" required>
                        </div>
                        <div class="block">
                            <label class="h5 mb-4 fw-normal ">Artist name<i style="color:red">*</i> : </label>
                            <input type="text" id="artistName" placeholder="Artist name" required>
                        </div>
                        <div class="block">
                            <label class="h5 mb-4 fw-normal">Concert date<i style="color:red">*</i> : </label>
                            <input type="date" id="conDate" placeholder="dd-mm-yyyy" min="<%= moment(new Date()).add(1,'days').format('YYYY-MM-DD'); %>"  required>
                        </div>
                        <div class="block">
                            <label class="h5 mb-4 fw-normal">Concert start time<i style="color:red">*</i> : </label>
                            <input type="time" id="conStartTime" placeholder="Concert start date" required>
                        </div>
                        <div class="block">
                            <label class="h5 mb-4 fw-normal">Concert end time<i style="color:red">*</i> : </label>
                            <input type="time" id="conEndTime" placeholder="Concert start date" required>
                        </div>
                        <div class="block">
                            <label class="h5 mt-4 mb-4 fw-normal">Concert description<i style="color:red">*</i> :
                            </label>
                            <textarea id="conDescription" name="w3review" rows="2" cols="50"
                                placeholder="Concert description"></textarea>
                        </div>
                        <div class="block">
                            <label class="h5 mb-4 fw-normal">Concert poster image link (.png or .jpg)<i
                                    style="color:red">*</i>
                                : </label>
                            <input type="text" id="conPoster" name="file" style="width:100%"
                                placeholder="Concert poster image link" required>
                        </div>

                        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Insert</button>
                    </form>
                </main>
                <script src="/public/concert.js"></script>
</body>

</html>