<!DOCTYPE html>
<html lang="en">

<head>
    <title>KBM-ticket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <%- include('./partials/navbar'); %>


        <!-- Page content -->
        <div class="w3-content" style="max-width:2000px;margin-top:46px" id="home">
            <!-- Automatic Slideshow Images -->
            <div class="w3-display-container w3-center">
                <% if(slide.length){ for(var i=0; i< slide.length; i++){ %>
                    <img class="mySlides" src="<%= slide[i].slideImage %>" style="width:100%">
                    <% } }else{ %>
                        <% } %>
                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>


            <!-- The Tour Section -->
            <div class="w3-black" id="tour">
                <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                    <h2 class="w3-wide w3-center">CONCERT</h2>
                    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                        <% if(data.length){ for(var i=0; i< data.length; i++){ if(i==3){ %>
                    </div>
                    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                        <% } %>
                            <div class="w3-third w3-margin-bottom">
                                <img src=<%=data[i].conPoster%> alt=data[i].conName style="width:100%"
                                class="w3-hover-opacity">
                                <div class="w3-container w3-white">
                                    <h3><b>
                                            <%= data[i].conName %>
                                        </b></h3>
                                    <p><b>Artist: </b>
                                        <%= data[i].artistName %>
                                    </p>
                                    <p><b>Date: </b>
                                        <%= moment(data[i].conDate).format("DD MMMM YYYY"); %>
                                    </p>
                                    <p><b>Time: </b>
                                        <%= data[i].conTime.startTime%> - <%= data[i].conTime.endTime %>
                                    </p>
                                    <p>
                                        <%= data[i].conDescription %>
                                    </p>
                                    <center class=" w3-margin-bottom">
                                        <button class="w3-button w3-green w3-margin-bottom w3-margin-top"
                                            onclick="goToBuyPage(<%= i %>,'<%= data[i].hallName%>','<%= data[i].conName%>')">Buy now</button>
                                    </center>

                                </div>
                            </div>
                            <% } }else{ %>
                                <tr>
                                    <h5 class="w3-wide w3-center">No concert available at this time.</h5>
                                </tr>
                                <% } %>
                    </div>
                </div>

                <%- include('./partials/footer'); %>
                    <script src="/public/index.js"></script>

</body>

</html>