<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mgalante/jquery.redirect@master/jquery.redirect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/public/style.css" rel="stylesheet">
    <link href="/public/concert.css" rel="stylesheet">
    <link href="/public/userOrder.css" rel="stylesheet">
    <script src="/public/orderSearchBox.js"></script>
    <title>Concerts</title>
</head>

<body style="background-color:black;">
    <%- include('./partials/navbar'); %>
        <%if (!locals.session.username) { %>
            <!-- The Tour Section -->
            <h1 class="h2 mb-3 fw-normal text-center" style="color:white;"><b>KBM</b> - Your order history</h1>
            <div class="w3-black" id="tour">
                <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-center w3-margin-bottom mt-4 ">
                            <h3 class="mb-4"><b>Please log in first.</b></h3>
                            <button class=" w-25 btn btn-lg btn-primary mt-4"
                                onclick="document.location='/login'">Login</button>
                        </div>
                    </div>
                </div>
                <% }else{ %>
                    <div class="w3-padding-64">
                        <center>
                            <h1 class="h2  fw-normal text-center" style="color:white;"><b>KBM</b> - Your order
                                history</h1>
                            <div class="block">
                                <label class="h5 mb-4 fw-normal ">Search</i> : </label>
                                <input style='float:none' class="w3-margin-right w3-threequarter w3-center mt-3 mb-3"
                                    type="text" id="search" onkeyup="searchBox()" placeholder="Search here...">
                            </div>
                        </center>
                        <table class="w3-large w3-table w3-text-black w3-text-center w3-striped w3-border w3-white mt-4"
                            id="myTable">
                            <tr class="w3-green">
                                <td>Order ID</td>
                                <td>Concert</td>
                                <td>Zone name</td>
                                <td>Amount</td>
                                <td>Total</td>
                                <td>Ordered Date</td>
                                <td>Status</td>
                            </tr>
                            <% if(order.length){ for(var i=0;i < order.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= order[i]._id %>
                                    </td>
                                    <td>
                                        <%= order[i].conName %>
                                    </td>
                                    <td>
                                        <%= order[i].zoneName %>
                                    </td>
                                    <td>
                                        <%= order[i].amount %>
                                    </td>
                                    <td>
                                        <%= order[i].total %>
                                    </td>
                                    <td>
                                        <%= moment(order.uploadDate).format("DD/MM/YYYY"); %>
                                    </td>
                                    <td>
                                        <%= order[i].status %>
                                    </td>
                                </tr>
                                <%}}else{ %>
                                    <h3 class="w3-center w3-text-red">Can not find any order.</h3>
                                    <% }} %>
                        </table>
                    </div>

                    <div class="w3-black" id="tour">

                    </div>
                    <script src="/public/concert.js"></script>
</body>

</html>